.dev-overlay {
  position: fixed;
  z-index: 99999;
  text-align: center;
  width: 500px;
  right: 25px;
  top: 25px;
}

.dev-overlay .content {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  color: white
}

.dev-overlay.collapsed .content {
  display: none;
}

.dev-header {
  padding: 10px;
  cursor: move;
  z-index: 2001;
  background-color: #757575 ;
  color: black;
  text-align: left;
  border-radius: 8px 8px 0 0;
}

.foreground .dev-header {
  background-color: #0190ea;
}

.dev-overlay.foreground .content {
  border: 1px solid #0190ea;
  opacity: 1;
}

.dev-overlay .content {
  border: 1px solid #757575;
  opacity: 0.7;
}
